# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/

# SQLite
*.db
*.sqlite3

# VS Code
.vscode/
*.code-workspace

# Sistema
.DS_Store
Thumbs.db

# Build artifacts (PyInstaller)
build/
dist/
src/build/
src/dist/
*.spec.bak
