[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ttkbootstrap = "*"
send2trash = "*"
pyexiftool = "*"
requests = "*"
fitz = "*"
pymupdf = "*"
pdf2image = "*"

[dev-packages]
pytest = "*"

[requires]
python_version = "3.12"
